@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
* {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  /* font-family: 'Poiret One', cursive; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #082321;
}

h1 {
  font-family: 'Poiret One', cursive;
}

body {
  background-color: #ECEEE8;
}

footer {
  margin-top: 50px;
  margin-bottom: 20px;
}

a {
  margin-left: 10px;
  margin-right: 10px;
}

a:link, a:visited {
  text-decoration: underline;
  font-weight: bold;
}
a:hover {
  text-decoration: none;
}

.nav-link {
  color: #ECEEE8
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
